.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;


}

@media (min-width: 110px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
    width: 1100px;
  }
}
